body {
    background-color: #292929;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 50px;
}

#successScreen {
    display: none;
    text-align: center;
}

.form-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
}

.form-control, .btn {
    border-radius: 0.25rem;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

#result {
    margin-top: 20px;
}

.container {
    max-width: 600px;
}