body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
        color: #ffffff;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
}
.navbar-hidden {
    top: -60px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #1e90ff;
}